:root {
    --primary-color: hsl(226, 81%, 56%);
    --primary-color-100: hsla(226, 81%, 56%, 0.123);
    --primary-color-600: hsla(226, 81%, 56%, 0.61);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
   }



.container {
    max-width: 1170px;;
    margin-left: auto;
    margin-right: auto;
}

nav {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
}

nav .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 5rem;
}

nav .navbar-brand img {
    max-height: 2rem;
    width: auto;
}

.nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20%;
}

.nav-links a {
    color: #506690;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
}

.nav-links .logout-link{
    color: rgb(196, 102, 102);
}

.nav-links .login-link{
    color: rgb(102, 196, 115);
}

.nav-links a:last-child {
    display: none;
}

nav a:hover {
    color: var(--primary-color);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

main #overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

main {
    transition: margin-left .5s;
}

.header-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.header {
    width: 50%;
    order: 1;
}

.header h2,
.header-alerts h2 {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 400;
    max-width: 90%;
}

.header h2 span {
    color: initial;
}

.header p,
.header-alerts p {
    color: #869ab8;
    font-size: 1.5rem;
    max-width: 90%;
    margin-block: 2.25rem;
}

.new-btn {
    display: flex;
    background-color: var(--primary-color);
    padding: 1rem;
    color: #ffffff;
    border: none;
    border-radius: .5rem;
    font-size: 1.25rem;
    transition: all 250ms ease-in-out;
}

.new-btn:hover {
    background-color: #2a4bb8;
    box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1) !important;
    transform: translate3d(0,-3px,0);
}

.new-btn i {
    margin-left: 1rem;
}

.header-img {
    display: flex;
    justify-content: center;
    position: relative;
    order: 2;
    width: 50%;
}

.img-skewed-item {
    transform: rotateY(-15deg) rotateX(15deg);
    backface-visibility: hidden;
}

.img-fluid {
    perspective-origin: 0;
    perspective: 1500px;
    transform-style: preserve-3d;
    max-width: 100%;
    height: auto;
}

.img-fluid img {
    height: 400px;
    border-radius: .625rem;
    box-shadow: 25px 60px 125px -25px rgba(80,102,144,.1),16px 40px 75px -40px rgba(0,0,0,.2);
    border: 1px solid #6c8aec;
}

.shape-blur-4 {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) scale(1.3);
}

.shape {
    position: absolute;
    pointer-events: none;
    color: #f1f4f8 !important;
}

.shape svg {
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/***    alerts    ***/

.background {
    display: flex;
    justify-content: center;
    align-content: baseline;
    width: 100%;
    height: 25rem;
    z-index: -1;
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(https://c.ekstatic.net/ecl/airport/airfield/terminal-t3-outdoor-view-b-w1920x480.jpg?h=V3MTi53cQxb1tvDU7BPI1A);
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-alerts {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 6rem;
}

.header-alerts .header-text,
.header-alerts .header-text * {
    width: 100%;
    max-width: 100%;
}

.header-text p {
    color: white;
}

.alert-section {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.airports h2,
.alerts h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #2e323a;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.subtitle {
    text-align: center;
    font-weight: 300;
    margin-bottom: 4rem;
    margin-bottom: 3rem;
}

.alerts {
    padding-bottom: 2rem;
    overflow-x: auto;
}

.tooltip-hover {
    position: relative;
}
  
.tooltip-hover .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

/* Position the tooltip */
    position: absolute;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -50%;
}

.tooltip-hover:hover .tooltiptext {
    visibility: visible;
}


#airport-search-form {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.aircraft-search-form {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-block: 2rem;
    border-radius: .5rem;
    padding: .1rem;
    margin-bottom: 5rem;
}

.searchbar {
    position: relative;
    width: 50%;
}

.search {
    margin-bottom: 3rem;
}

.search form .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: transparent;
    border: transparent;
    font-size: 20px;
    color: var(--primary-color);
    cursor: pointer;
    outline: 0;
}

.search .options {
    display: flex;
    flex-flow: column nowrap;
}

.search .options p {
    margin: 1rem;
}

.search-option-radio {
    display: flex;
    flex-flow: row;
    list-style: none;
    padding: 0rem;
}

.search-option-radio {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: white;
    border-style: none solid none none;
    border-radius: 1rem 0rem 0rem 1rem;
    padding-left: 1rem;
    font-weight: lighter;
    color: #888;
    font-family: 'Archivo', sans-serif;
}

.airport button.search-btn {
    background: rgb(255,255,255) !important;
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%) !important;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1) !important; 
    padding-left: .5rem;
    border-radius: 0rem 1rem 1rem 0rem;
}

/* Hide the browser's default checkbox
#search_option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox *//*
#search_option label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    transition: all 250ms ease-in-out;
}
  
  /* On mouse-over, add a grey background color *//*
#search_option li:hover input ~  label::before {
    background-color: #ccc;
}

#search_option li:hover input:checked ~  label::before {
    background-color: var(--primary-color);
}
  
  /* When the checkbox is checked, add a blue background *//*
#search_option input:checked ~ label::before {
    background-color: var(--primary-color);
}
  
  /* Create the checkmark/indicator (hidden when not checked) *//*
#search_option label::after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked *//*
#search_option input:checked ~ label::after {
    display: block;
}
  
  /* Style the checkmark/indicator *//*
#search_option  label::after{
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
} */

#airport-search {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    padding: 10px;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.aircraft-search {
    margin: auto;
    margin-top: 1rem;
    width: 80%;
}

.aircraft-search-field {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    padding: 10px;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    padding-left: 9rem;
}

.search-filter {
    display: flex;
    flex-flow: row wrap;
    margin-block: 2rem;
    width: 80%;
    margin-inline: auto;
    list-style: none;
}

.search-filter li {
    width: fit-content;
    margin: .5rem .25rem;
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: .8rem;
    background-color: white;
}

.search-filter li label {
    padding: .2rem .6rem;
    border-radius: .7rem;
}

.search-filter li input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.search-filter li input:checked ~ label{
    background-color: var(--primary-color);
    color: white;
}

.search-filter li:hover {
    background-color: #e1e8ff;
}

.result {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.result .new-btn {
    white-space: nowrap;
}

.result p {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    margin-bottom: 0rem;
}

.airport .result :not(.new-btn, .fa):hover{
    text-decoration: dashed;
    text-decoration-line: underline;
}


.fa {
    display: flex;
    align-items: center;
}

.airport {
    position: relative;
    margin-bottom: 2rem;
}


#loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.airport:has(.active) {
    border: 2px solid var(--primary-color);
}

.collapsible {
    background-color: #ffffff;
    color: rgb(37, 37, 37);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: .5rem;
    text-align: left;
    outline: none;
    font-size: 15px;
    box-shadow:0 8px 6px 1px rgba(0, 0, 0, 0.2);
}

.collapsible:hover {
    background-color: var(--primary-color-100);
}

.collapsible:after {
    content: '\002B';
    color: var(--primary-color-600);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.active {
    border: 2px solid var(--primary-color);
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: hsla(226, 81%, 56%, 0.05);
}

.delete-btn {
    width: 100%;
    margin-block: 1rem;
    display: flex;
    justify-content: center;
    background-color: rgb(221, 0, 0);
    margin-top: 3rem;
    padding: .75rem;
}

.delete-aircraft {
    margin: 0rem;
    width: auto;
    padding: 1rem;
}

.notifications {
    border: 1px solid rgb(255, 196, 0);
    background-color: #ececec;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 2rem;
}

.notifications h4 {
    height: 100%;
    margin: 0rem;
    font-size: 1rem;
    word-wrap: break-word;
    hyphens: auto;
}

#delete-token_div,
#request-token_div,
#permission_div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

#delete-token-btn,
#permission-btn,
#request-token-btn {
    padding: .75rem 1rem;
}

#alerts-table,
.admin-table {
    width: 100%;
}

#alerts-table td, #alerts-table th,
.admin-table td, .admin-table th {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap;
}

#alerts-table tr:nth-child(even){background-color: #f2f2f2;}

#alerts-table tr:hover {background-color: #ddd;}

#alerts-table th,
.admin-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


/**
* login page
**/

.form-signin{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ),
      url('/static/img/airport-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-signin img {
    width: 100%;
    max-height: 5rem;
    opacity: 0.7;
    margin-bottom: 1rem;
}

.login {
    max-width: 600px;
    padding: 5rem;
    background-color: rgba(255, 255, 255, 0.829);
}

.login .form-group {
    margin-bottom: 1rem;
}

#remember {
    width: 20px;
    height: 20px;
}

/**
* account.html
**/

.account h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-block: 2rem;
}

.account h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.account-info-wrapper {
    background-color: #fafafa;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 2px;
}

.account-summary h2 {
    margin-top: 8rem;
}

.account-info,
.account-info-edit,
.account-info-pw,
.account-info-edit-pw {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1rem;
    line-height: 2.5rem;
    padding: .75rem 1rem;
    border-bottom: 1px solid #ddd;
}

.account-info label,
.account-info-edit label,
.account-info-pw label,
.account-info-edit-pw label {
    flex-basis: 33.333%;
    font-weight: 600;
}

.account-info .account-value,
.account-info-edit input,
.account-info-pw .account-value,
.account-info-edit-pw input {
    flex-basis: 66.666%;
    font-weight: 200;
}

.account-info-edit input,
.account-info-edit-pw input{
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    padding-inline: .5rem;
    font-size: 1rem;
}

.account-btn {
    background-color: var(--primary-color);
    float: right;
    border: none;
    color: #fff;
    margin: 0px 5px;
    padding: 8px 13px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3;
    white-space: nowrap;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
}

.invisible {
    display: none !important;
}
/* 
* Account delete
*/
.delete-account {
    margin-top: 2rem;
    display: inline-block;
    width: 100%;
}
#account-delete-btn {
    width: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding-top: 33dvh;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

/* Modal Header */
.modal-header, 
.modal-header h2 {
    padding: .5rem 1rem;
    margin-bottom: 0rem !important;
    background-color: #ff543d;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    display: flex;
    flex-flow: row wrap;
    padding: 2px 16px;
}
#cancel-account-delete-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
#confirm-account-delete-btn {
    margin-top: 0rem;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
} 

.policy h1 {
    margin-block: 5rem 3rem;
}

.policy h2 {
    margin-block: 5rem 3rem;
}

.policy hr {
    margin-block: 3rem;
}


footer {
    background-color: #121315;
    color: #a7a7a7;
    margin-top: 5rem;
    padding-top: 3rem;
}

footer h3 {
    font-weight: 400;
    color: white;
}

footer ul {
    padding-left: 0rem;
}

footer li {
    margin: .5rem 0rem;
    list-style: none;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.footer-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    justify-items: center;
    margin-inline: 2rem;
}

.footer-column {
    width: 100%;
    margin-inline: 2rem;
}

.footer-column:first-of-type, 
.footer-column:last-of-type {
    flex: 2;
}

.footer-column:nth-of-type(2), 
.footer-column:nth-of-type(3) {
    flex: 1;
}

.copyright {
    background-color: #25262e;
    padding: .1rem 3rem;
    margin-top: 2rem;
    width: 100%;
}
.copyright p {
    margin-block: 1rem;
    text-align: right;
}


@media (max-width: 75em){
    .header-container,
    .header-alerts {
        margin-top: 5rem;
        flex-direction: column;
    }

    .header-img {
        order: 1;
    }

    .header {
        margin-top: 1rem;
        order: 2;
    }

    .header h2 {
        font-size: 2.5rem;
        max-width: 100%;
    }

    .header p {
        font-size: 1.5rem;
        max-width: 100%;
    }

    .new-btn {
        font-size: 1rem;
    }

    .container {
        max-width: 800px;
    }

    .footer-row {
        flex-flow: column nowrap;
    }
}

@media (max-width: 55em) {
    .container {
        max-width: 600px;
    }

    .header-img {
        width: 65%
    }

    .header {
        width: 100%;
        text-align: center;
    }

    .header button{
        margin: auto;
    }

    .shape {
        transform: translateX(-45%) scale(1.1);
    }

    .nav-links {
        display: block;
    }
    .nav-links a:not(:last-child) {
        display: none;
    }
    .nav-links a:last-child{
        display: block;
        float: right;
        margin-right: 1rem;
    }

    .account-info,
    .account-info-edit,
    .account-info-pw,
    .account-info-edit-pw {
        flex-flow: row wrap;
    }
    .account-info-wrapper label,
    .account-info-wrapper .account-value,
    .account-info-wrapper input {
        flex-basis: 100%;
    }

    .airport .search {
        margin-bottom: 6rem;
    }

    .aircraft-search {
        width: 100%;
    }

    #aircraft-search {
        padding-left: 1rem;
    }

    .search-option-radio {
        top: 111% !important;
        width: 100%;
        border-radius: 0rem !important;
    }

    .aircraft-search-form {
        margin-bottom: 3rem;
    }

    .search-filter {
        margin-top: 5rem;
        margin-inline: 0rem;
        font-size: .9rem;
        width: 100%;
        padding: 0rem;
        margin-bottom: 0rem;
    }
}

@media (max-width: 40em) {
    img {
        width: 100%;
        height: auto !important;
    }

    .header-container,
    .header-alerts {
        margin-top: 2rem;
    }
    .login {
        max-width: 100%;
        padding-inline: .75rem;
    }
    .searchbar {
        width: 100%;
    }
    .container {
        margin-inline: 0rem;
    }

    #delete-token_div,
    #request-token_div,
    #permission_div {
        flex-flow: row wrap;
        justify-content: center;
    }
    #delete-token_div h4,
    #request-token_div h4,
    #permission_div h4 {
        margin-bottom: 1rem;
    }

    .result .new-btn {
        font-size: 0rem;
    }
    .result .fa {
        font-size: initial;
        margin-left: 0rem;
        margin-inline: 1rem;
    }
}
