:root {
    --primary-color: hsl(226, 81%, 56%);
    --primary-color-100: hsla(226, 81%, 56%, 0.123);
    --primary-color-600: hsla(226, 81%, 56%, 0.61);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    max-width: 1170px;;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 5rem;
}

nav .navbar-brand img {
    max-height: 2rem;
    width: auto;
}

.nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20%;
}

.nav-links a {
    color: #506690;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
}

.nav-links .logout-link{
    color: rgb(196, 102, 102);
}

.nav-links .login-link{
    color: rgb(102, 196, 115);
}

.nav-links a:last-child {
    display: none;
}

nav a:hover {
    color: var(--primary-color);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

main #overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

main {
    transition: margin-left .5s;
}

.header-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-top: 8rem;
}

.header {
    width: 50%;
    order: 1;
}

.header h2,
.header-alerts h2 {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 400;
    max-width: 90%;
}

.header h2 span {
    color: initial;
}

.header p,
.header-alerts p {
    color: #869ab8;
    font-size: 1.5rem;
    max-width: 90%;
    margin-block: 2.25rem;
}

.new-btn {
    display: flex;
    background-color: var(--primary-color);
    padding: 1rem;
    color: #ffffff;
    border: none;
    border-radius: .5rem;
    font-size: 1.25rem;
    transition: all 250ms ease-in-out;
}

.new-btn:hover {
    background-color: #2a4bb8;
    box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1) !important;
    transform: translate3d(0,-3px,0);
}

.new-btn i {
    margin-left: 1rem;
}

.header-img {
    display: flex;
    justify-content: center;
    position: relative;
    order: 2;
    width: 50%;
}

.img-skewed-item {
    transform: rotateY(-15deg) rotateX(15deg);
    backface-visibility: hidden;
}

.img-fluid {
    perspective-origin: 0;
    perspective: 1500px;
    transform-style: preserve-3d;
    max-width: 100%;
    height: auto;
}

.img-fluid img {
    height: 400px;
    border-radius: .625rem;
    box-shadow: 25px 60px 125px -25px rgba(80,102,144,.1),16px 40px 75px -40px rgba(0,0,0,.2);
    border: 1px solid #6c8aec;
}

.shape-blur-4 {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) scale(1.3);
}

.shape {
    position: absolute;
    pointer-events: none;
    color: #f1f4f8 !important;
}

.shape svg {
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/***    alerts    ***/

.background {
    display: flex;
    justify-content: center;
    align-content: baseline;
    width: 100%;
    height: 25rem;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(https://c.ekstatic.net/ecl/airport/airfield/terminal-t3-outdoor-view-b-w1920x480.jpg?h=V3MTi53cQxb1tvDU7BPI1A);
    background-position: center;
    overflow: hidden;
}

.header-alerts {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 6rem;
}

.header-alerts .header-text,
.header-alerts .header-text * {
    width: 100%;
    max-width: 100%;
}

.header-text p {
    color: white;
}

.alert-section {
    margin-top: 2rem;
}

.airports h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #506690;
    margin-bottom: 2rem;
}

#airport-search-form {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

#aircraft-search-form {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-block: 2rem;
}

.searchbar {
    position: relative;
    width: 50%;
}

.search form .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: transparent;
    border: transparent;
    font-size: 20px;
    color: var(--primary-color);
    cursor: pointer;
    outline: 0;
}

#airport-search {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    padding: 10px;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

#aircraft-search {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
    padding: 10px;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.result {
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result p {
    margin-inline: 1rem;
}

.airport:has(.active) {
    border: 2px solid var(--primary-color);
}

.collapsible {
    background-color: #ffffff;
    color: rgb(37, 37, 37);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: .5rem;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:hover {
    background-color: var(--primary-color-100);
}

.collapsible:after {
    content: '\002B';
    color: var(--primary-color-600);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.active {
    border: none !important;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: hsla(226, 81%, 56%, 0.05);
}

/**
* login page
**/

.form-signin{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ),
      url('/static/img/airport-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-signin img {
    width: 100%;
    max-height: 5rem;
    opacity: 0.7;
    margin-bottom: 1rem;
}

.login {
    max-width: 600px;
    padding: 5rem;
    background-color: rgba(255, 255, 255, 0.829);
}

.login .form-group {
    margin-bottom: 1rem;
}

#remember {
    width: 20px;
    height: 20px;
}

/**
* account.html
**/

.account h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    padding-block: 2rem;
}

.account h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.account-info-wrapper {
    background-color: #fafafa;
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 2px;
}

.account-summary h2 {
    margin-top: 8rem;
}

.account-info,
.account-info-edit,
.account-info-pw,
.account-info-edit-pw {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1rem;
    line-height: 2.5rem;
    padding: .75rem 1rem;
    border-bottom: 1px solid #ddd;
}

.account-info label,
.account-info-edit label,
.account-info-pw label,
.account-info-edit-pw label {
    flex-basis: 33.333%;
    font-weight: 600;
}

.account-info .account-value,
.account-info-edit input,
.account-info-pw .account-value,
.account-info-edit-pw input {
    flex-basis: 66.666%;
    font-weight: 200;
}

.account-info-edit input,
.account-info-edit-pw input{
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    padding-inline: .5rem;
    font-size: 1rem;
}

.account-btn {
    background-color: var(--primary-color);
    float: right;
    border: none;
    color: #fff;
    margin: 0px 5px;
    padding: 8px 13px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3;
    white-space: nowrap;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
}

.invisible {
    display: none !important;
}

@media (max-width: 75em){
    .header-container,
    .header-alerts {
        margin-top: 5rem;
        flex-direction: column;
    }

    .header-img {
        order: 1;
    }

    .header {
        margin-top: 1rem;
        order: 2;
    }

    .header h2 {
        font-size: 2.5rem;
        max-width: 100%;
    }

    .header p {
        font-size: 1.5rem;
        max-width: 100%;
    }

    .new-btn {
        font-size: 1rem;
    }

    .container {
        max-width: 800px;
    }
}

@media (max-width: 55em) {
    .container {
        max-width: 600px;
    }

    .header-img {
        width: 100%
    }

    .header {
        width: 100%;
        text-align: center;
    }

    .shape {
        transform: translateX(-25%) scale(1.3);
    }

    .nav-links {
        display: block;
    }
    .nav-links a:not(:last-child) {
        display: none;
    }
    .nav-links a:last-child{
        display: block;
        float: right;
        margin-right: 1rem;
    }

    .account-info,
    .account-info-edit,
    .account-info-pw,
    .account-info-edit-pw {
        flex-flow: row wrap;
    }
    .account-info-wrapper label,
    .account-info-wrapper .account-value,
    .account-info-wrapper input {
        flex-basis: 100%;
    }
}

@media (max-width: 40em) {
    img {
        width: 100%;
        height: auto !important;
    }

    .header-container,
    .header-alerts {
        margin-top: 2rem;
    }
    .login {
        max-width: 100%;
        padding-inline: .75rem;
    }
    .searchbar {
        width: 100%;
    }
    .container {
        margin-inline: 0rem;
    }
}
