{% extends "public/templates/public_template.html" %}
{% block content %}
<div class="background">
    <header class="header-alerts container">
        <div class="header-text">
            <h2>Your Alerts</h2>
            <p>Manage your Airports and Aircrafts to get Notifications directly onto your phone.</p>
        </div>
    </header>
</div>
<div class="alert-section container">
    <div class="airports">
        <h2>My Airports</h2>
        <div class="search">
            <form id="airport-search-form" method="POST" action="{{ url_for('main.searchAirport') }}">
                {{ form.hidden_tag() }}
                <div class="searchbar">
                    {% if form.query.errors %}
                        {{ form.query(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.query.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.query(id="airport-search", placeholder="Search...") }}
                    {% endif %}
                    {{ form.submit(class="search-btn", value="", style="z-index: 10;") }}
                    <button type="button" class="search-btn"><i class="fa fa-search"></i></button>
                </div>
            </form>
            {% if airportResults %}
                {% for airport in airportResults %}
                    <div class="result">
                        <p>{{ airport.name }} ({{ airport.iata_code }}/{{ airport.icao_code }})</p>
                        <button class="new-btn" type="button" onclick="window.location.href='/save-airport/{{ airport.icao_code }}';">Add <i class="fa-solid fa-plus"></i></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="airport-list">
            {% if airports %}
                {% for airport in airports %}
                    <div class="airport">
                        <button type="button" class="collapsible active">{{ airport.name }} ({{ airport.country_code }}) - {{ airport.iata_code }}/{{ airport.icao_code }}</button>
                        <div class="content">
                            <div class="search">
                                <form id="aircraft-search-form" method="POST" action="{{ url_for('main.searchAircraft') }}">
                                    {{ aircraftForm.hidden_tag() }}
                                    <div class="searchbar">
                                        {% if aircraftForm.query.errors %}
                                            {{ aircraftForm.query(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in aircraftForm.query.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ aircraftForm.query(id="aircraft-search", placeholder="Search Aircraft") }}
                                        {% endif %}
                                        {{ aircraftForm.submit(class="search-btn", value="", style="z-index: 10;") }}
                                        <button type="button" class="search-btn"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                                {% if aircraftResults %}
                                    {% for aircraft in aircraftResults %}
                                        <div class="result">
                                            <p>{{ aircraft.manufacturer }} {{ aircraft.name }} ({{ aircraft.icao_code }})</p>
                                            <button class="new-btn" type="button" onclick="window.location.href='/save-aircraft/{{ aircraft.icao_code }}';">Add <i class="fa-solid fa-plus"></i></button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div> 
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}