{% extends "public/templates/public_template.html" %}
{% block content %}
<div class="background">
    <header class="header-alerts container">
        <div class="header-text">
            <h2>Your Alerts</h2>
            <p>Manage your Airports and Aircrafts to get Notifications directly onto your phone.</p>
        </div>
    </header>
</div>
<div class="alert-section container">
    <div class="notifications">
        <!-- div to display the generated registration token -->
        <div id="delete-token_div" style="display: none;">
            <h4>Unsubscribe and you won't get notifications on this device.</h4>
            <button id="delete-token-btn" class="new-btn">Unsubscribe</button>
        </div>
        <div id="request-token_div" style="display: none;">
            <h4>Subscribe to receive notifications about your selected aircraft on this device.</h4>
            <button id="request-token-btn" class="new-btn">Subscribe</button>
        </div>
        <!-- div to display the UI to allow the request for permission to
        notify the user. This is shown if the app has not yet been
        granted permission to notify. -->
        <div id="permission_div" style="display: none;">
            <h4>You need to allow notifications to receive push messages!</h4>
            <button id="permission-btn" class="new-btn">Request Permission</button>
        </div>
        <!-- div to display messages received by this app. -->
        <div id="messages"></div>
    </div>
    <div class="alerts">
        <h2>Last alerts:</h2>
        <table id="alerts-table">
            <tr style="background-color:hsl(226, 81%, 56%);;color:white;">
                <td>Flightnumber</td>
                <td>Aircraft</td>
                <td>Airport</td>
                <td>Type</td>
                <td>Time</td>
            </tr>
        {% for alert in alerts %}
            <tr onclick="window.open('https://de.flightaware.com/live/flight/{{alert.flightnumber}}')">
                <td>{{ alert.flightnumber }}</td>
                <td>{{ alert.aircraft }}</td>
                <td class="tooltip-hover">{{ alert.airport_icao }} <span class="tooltiptext">{{ alert.airport_name }}</span></td>
                <td>
                    {% if alert.arrival %}
                        arrival
                    {% else %}
                        departure
                    {% endif %}
                </td>
                <td class="timestamp">{{ alert.time }}</td>
            </tr>
        {% endfor %}
        {% if not alerts[0] %}
            <tr style="width: 100%;">
                <td>Currently no alerts</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
        </table>
        
    </div>
    <div class="airports">
        <h2>My Airports</h2>
        <div class="search">
            <form id="airport-search-form" method="POST" action="{{ url_for('main.searchAirport') }}">
                {{ form.hidden_tag() }}
                <div class="searchbar">
                    {% if form.query.errors %}
                        {{ form.query(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.query.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {% if searchAirportIcao %}
                            {{ form.query(id="airport-search", placeholder="Search...", value="") }}
                        {% else %}
                            {{ form.query(id="airport-search", placeholder="Search...") }}
                        {% endif %}
                    {% endif %}
                    {{ form.submit(class="search-btn", value="", style="z-index: 10;") }}
                    <button type="button" class="search-btn"><i class="fa fa-search"></i></button>
                </div>
            </form>
            {% if airportResults %}
                {% for airport in airportResults %}
                {% set ns = namespace(found=false) %}
                    <div class="result">
                        <p>{{ airport.name }} ({{ airport.iata_code }}/{{ airport.icao_code }})</p>
                        {% for airport_ in airports %}
                            {% if airport_.icao == airport.icao_code %}
                                <button class="new-btn" type="button" style="background-color: rgb(0, 202, 34) !important;">Added <i class="fa fa-solid fa-check"></i></button>
                                {% set ns.found = true %}
                            {% endif %}
                        {% endfor %}
                        {% if not ns.found %}
                        <button class="new-btn" type="button" onclick="window.location.href='/save-airport/{{ airport.icao_code }}';">Add <i class="fa fa-solid fa-plus"></i></button>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="airport-list">
            {% if airports %}
                {% for airport in airports %}
                    <div class="airport" id="{{ airport.icao }}">

                        <div id="loading"></div>
                        
                        {% if airport.icao == searchAirportIcao %}
                        <button type="button" class="collapsible">{{ airport.name }} - {{ airport.icao }}/{{ airport.iata }}</button>
                        <div class="content" style="max-height: 100%;">
                        {% else %}
                        <button type="button" class="collapsible">{{ airport.name }} - {{ airport.icao }}/{{ airport.iata }}</button>
                        <div class="content">
                        {% endif %}
                        
                            <div class="search">
                                <form id="aircraft-search-form" name="aircraft_form" method="POST" action="{{ url_for('main.searchAircraft') }}">
                                    {{ aircraftForm.hidden_tag() }}
                                    {{ aircraftForm.airport_icao(value=airport.icao, class_="invisible") }}
                                    <div class="searchbar aircraft-search">
                                        {% if aircraftForm.query.errors %}
                                            {{ aircraftForm.query(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in aircraftForm.query.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ aircraftForm.query(id="aircraft-search", placeholder="Search Aircraft") }}
                                        {% endif %}
                                        {{ aircraftForm.submit(class="search-btn", value="", style="z-index: 10;") }}
                                        <button type="button" class="search-btn"><i class="fa fa-search"></i></button>
                                    </div>
                                    <div class="options">
                                        <p>Search options:</p>
                                        {% if aircraftForm.search_option.errors %}
                                            {{ aircraftForm.search_option(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in aircraftForm.search_option.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ aircraftForm.search_option(class="search-option-radio") }}
                                        {% endif %}
                                    </div>
                                </form>
                                {% if aircraftResults %}
                                    {% if airport.icao == searchAirportIcao %}
                                        {% for aircraft in aircraftResults %}
                                            {% set ns = namespace(found=false) %}
                                            <div class="result">
                                                <p>{{ aircraft.manufacturer }} {{ aircraft.name }} ({{ aircraft.icao_code }})</p>
                                                {% for aircraft_ in aircrafts %}
                                                    {% if aircraft_.airport_id == airport.id %}
                                                        {% if aircraft_.icao == aircraft.icao_code %}
                                                            <button class="new-btn" type="button" style="background-color: rgb(0, 202, 34) !important;">Added <i class="fa fa-solid fa-check"></i></button>
                                                            {% set ns.found = true %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if not ns.found %}
                                                <button class="new-btn" type="button" onclick="addAircraft(this, '{{ aircraft.icao_code }}', {{ airport.id }});">Add <i class="fa fa-solid fa-plus"></i></button>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <h2>My aircrafts</h2>
                            <a id="reload-btn" href="/alerts" style="margin: 2rem;display: flex;justify-content: center; display: none;"><button style="background-color: rgb(255, 187, 0) !important; color: #000;" class="new-btn">Aircrafts reload required</button></a>
                            {% for aircraft in aircrafts %}
                                {% if aircraft.airport_id == airport.id %}
                                <div class="result">
                                    <p style="padding-block: .75rem;">{{ aircraft.manufacturer }} {{ aircraft.name }} ({{ aircraft.icao }})</p>
                                    <button class="new-btn delete-btn delete-aircraft" type="button" onclick="window.location.href='/delete-aircraft/{{ aircraft.id }}';">Delete aircraft <i class="fa fa-solid fa-trash"></i></button>
                                </div>
                                {% endif %}
                            {% endfor %}
                            <button class="new-btn delete-btn" type="button" onclick="window.location.href='/delete-airport/{{ airport.id }}';">Delete airport <i class="fa fa-solid fa-trash"></i></button>
                        </div> 
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}