{% extends "public/templates/public_template.html" %}
{% block content %}
<section>
    <div class="container policy">
        <h1>
            Privacy Policy
        </h1>
        <p>
            We take the privacy of users of our website very seriously and are
            committed to protecting the information that users provide to us in
            connection with the use of our website. We are also committed to protecting
            and using your information in accordance with applicable law.
        </p>
        <p>
            This Privacy Policy explains our practices regarding the collection, use,
            and disclosure of your information through the use of our digital assets
            when you access the Services through your devices.
        </p>
        <p>
            Please read the Privacy Policy carefully and ensure that you fully
            understand our practices regarding your information before using our
            Services. If you have read this policy, fully understand it, and do not
            agree with our practices, you must stop using our digital assets and
            services. By using our Services, you agree to be bound by the terms of this
            Privacy Policy. Your continued use of the Services constitutes your
            acceptance of this Privacy Policy and any changes thereto.
        </p>
        <h4>
            In this Privacy Policy, you will learn:
        </h4>
        <ul type="disc">
            <li>
                How We Collect Information
            </li>
            <li>
                What information we collect
            </li>
            <li>
                Why we collect this information
            </li>
            <li>
                Who we share the data with
            </li>
            <li>
                Where the data is stored
            </li>
            <li>
                How long the data is kept
            </li>
            <li>
                How we protect data
            </li>
            <li>
                How we treat minors
            </li>
            <li >
                How we collect <a href="#cookies">cookies</a>
            </li>
            <li>
                Updates or Changes to the Privacy Policy
            </li>
        </ul>
        <div>
            <hr width="100%" size="2" />
        </div>
        <h3>
            What information do we collect?
        </h3>
        <p>
            Below is an overview of the information we may collect:
        </p>
        <ul type="disc">
            <li>
                Unidentified and non-identifiable information that you provide during
                the registration process or that is collected through the use of our
                Services ("Non-Personal Information"). Non-personal information is not
                indicative of who collected it. Non-personal information we collect
                consists primarily of technical and aggregated usage information.
            </li>
            <li>
                Individually identifiable information, i.e. any information from which
                you can be identified or could reasonably be identified ("Personal
                Data"). The personal information we collect through our Services may
                include information requested from time to time, such as names, email
                addresses, addresses, phone numbers, IP addresses, and more. If we
                combine personal data with non-personal data, we will treat it as
                personal data as long as it is in combination.
            </li>
        </ul>
        <div>
            <hr width="100%" size="2" />
        </div>
        <h3>
            How do we collect data?
        </h3>
        <p>
            Below are the main methods we use to collect data:
        </p>
        <ul type="disc">
            <li>
                We collect data when you use our services. So, when you visit our
                digital assets and use services, we may collect, record and store
                usage, sessions and related information.
            </li>
            <li>
                We collect information that you provide to us, for example, when you
                contact us directly through a communication channel (e.g., an email
                with a comment or feedback).
            </li>
            <li>
                We may collect information from third-party sources as described below.
            </li>
            <li>
                We collect information that you provide to us when you log into our
                Services through a third party such as Facebook or Google.
            </li>
        </ul>
        <div>
            <hr width="100%" size="2" />
        </div>
        <h3>
            Why do we collect this information?
        </h3>
        <p>
            We may use your information for the following purposes:
        </p>
        <ul type="disc">
            <li>
                to provide and operate our Services;
            </li>
            <li>
                to develop, adapt and improve our Services;
            </li>
            <li>
                to respond to your feedback, requests and requests and to offer
                assistance;
            </li>
            <li>
                to analyse demand and usage patterns;
            </li>
            <li>
                for other internal, statistical and research purposes;
            </li>
            <li>
                to improve our data security and fraud prevention capabilities;
            </li>
            <li>
                to investigate violations and enforce our terms and policies, and to
                comply with applicable law, regulations or governmental orders;
            </li>
            <li>
                to send you updates, messages, promotional materials and other
                information related to our Services. In the case of promotional
                e-mails, you can decide for yourself whether you want to continue
                receiving them. If not, just click on the unsubscribe link in these
                emails.
            </li>
        </ul>
        <div>
            <hr width="100%" size="2" />
        </div>
        <h3>
            With whom do we share this data?
        </h3>
        <p>
            We may share your information with our service providers to operate our
            services (e.g., storing data through third party hosting services,
            providing technical support, etc.).
        </p>
        <p>
            We may also disclose your information in the following circumstances: (i)
            to investigate, detect, prevent, or address unlawful activity or other
            misconduct; (ii) to establish or exercise our rights of defence; (iii) to
            protect our rights, property or personal safety and the safety of our users
            or the public; (iv) in the event of a change of control of us or one of our
            affiliates (by way of a merger, acquisition or purchase of (substantially
            any) all assets, etc.); (v) to collect, maintain and/or manage your
            information through authorized third party service providers (e.g., cloud
            service providers) as appropriate for business purposes; (vi) to
            collaborate with third parties to improve your user experience. For the
            avoidance of doubt, we would like to point out that we may transfer or pass
            on non-personal data to third parties or otherwise use it at our own
            discretion.
        </p>
        <h4>
            Cookies and similar technologies
        </h4>
        <p>
            When you visit or access our Services, we authorize third parties to use
            web beacons, cookies, pixel tags, scripts, and other technologies and
            analytics services ("Tracking Technologies"). These tracking technologies
            may allow third parties to automatically collect your data in order to
            improve the navigation experience on our digital assets, optimize their
            performance and ensure a tailored user experience, as well as for security
            and fraud prevention purposes.
        </p>
        <p>
            To learn more, please read our Cookie Policy.
        </p>
        <p>
            We will not share your email address or other personally identifiable
            information with advertisers or advertising networks without your consent.
        </p>
        <div>
            <hr width="100%" size="2" />
        </div>
        <h3>
            Where do we store the data?
        </h3>
        <h5>
            <em>Non-Personal Information</em>
        </h5>
        <p>
            Please note that our companies, as well as our trusted partners and service
            providers, are located all over the world. For the purposes explained in
            this Privacy Policy, we store and process any non-personal information we
            collect in different jurisdictions.
        </p>
        <h5>
            <em>Personal data</em>
        </h5>
        <p>
            Personal information may be maintained, processed and stored in the United
            States, Ireland, South Korea, Taiwan, Israel and, as required for the
            proper provision of our Services and/or by law (as further explained
            below), in other jurisdictions.
        </p>
        <div>
            <hr width="100%" size="2" />
        </div>
        <h3>
            How long is the data kept?
        </h3>
        <p>
            Please note that we retain the information we collect for as long as
            necessary to provide our services, comply with our legal and contractual
            obligations to you, resolve disputes, and enforce our agreements.
        </p>
        <p>
            We may correct, supplement or delete inaccurate or incomplete data at any
            time at our sole discretion.
        </p>
        <h3>
            How do we protect the data?
        </h3>
        <p>
            The hosting service for our digital assets provides us with the online
            platform through which we can offer our services to you. Your data may be
            stored through our hosting provider's data storage, databases and general
            applications. It stores your data on secure servers behind a firewall and
            provides secure HTTPS access to most areas of its services.
        </p>
        <p>
            <strong> </strong>
        </p>
        <p>
            Notwithstanding the measures and efforts taken by us and our hosting
            provider, we cannot and do not guarantee the absolute protection or
            security of the information you upload, publish or otherwise disclose to us
            or others.
        </p>
        <p>
            For this reason, we ask you to set strong passwords and, if possible, not
            to provide us or others with confidential information that you believe
            could cause significant or lasting harm to you. Since e-mail and instant
            messaging are not considered secure forms of communication, we also ask
            that you do not share confidential information through any of these
            communication channels.
        </p>
        <div>
            <hr width="100%" size="2" />
        </div>
        <h3>
            How do we deal with minors?
        </h3>
        <p>
            Children can use our services. However, if they want access to certain
            features, they may need to provide certain information. The collection of
            some information (including information collected through cookies, web
            beacons, and other similar technologies) may be automatic. If we knowingly
            collect, use or disclose information collected from a child, we will
            provide notice and obtain parental consent in accordance with applicable
            law. We do not make a child's participation in an online activity dependent
            on the child providing more contact information than is reasonably required
            to participate in that activity. We use the information we collect only in
            connection with the services requested by the child.
        </p>
        <p>
            We may also use a parent's contact information to communicate about the
            child's activities on the Services. Parents may view information we have
            collected from their child, prohibit us from collecting further information
            from your child, and request that any information we collect be deleted
            from our records.
        </p>
        <p>
            Please contact us to view, update or delete your child's information. To
            protect your child, we may ask you to provide proof of your identity. We
            may deny you access to the data if we believe that your identity is in
            question. Please note that certain data cannot be deleted due to other
            legal obligations.
        </p>
        <p>
            <strong> </strong>
        </p>
        <h5>
            We will only use your personal data for the purposes set out in the Privacy
            Policy and only if we are satisfied that:
        </h5>
        <ul type="disc">
            <li>
                the use of your personal data is necessary to perform or enter into a
                contract (e.g. to provide you with the Services themselves or customer
                care or technical support);
            </li>
            <li>
                the use of your personal data is necessary to comply with relevant
                legal or regulatory obligations, or
            </li>
            <li>
                the use of your personal data is necessary to support our legitimate
                business interests (provided that this is done at all times in a manner
                that is proportionate and respects your data protection rights).
            </li>
        </ul>
        <h5>
            As an EU resident, you can:
        </h5>
        <ul type="disc">
            <li>
                request confirmation as to whether or not personal data concerning you
                are being processed and request access to your stored personal data and
                certain additional information;
            </li>
            <li>
                request the receipt of personal data that you have provided to us in a
                structured, commonly used and machine-readable format;
            </li>
            <li>
                request the rectification of your personal data held by us;
            </li>
            <li>
                request the deletion of your personal data;
            </li>
            <li>
                object to our processing of your personal data;
            </li>
            <li>
                request the restriction of the processing of your personal data, or
            </li>
            <li>
                lodge a complaint with a supervisory authority.
            </li>
        </ul>
        <p>
            Please note, however, that these rights are not fully valid and may be
            subject to our own legitimate interests and regulatory requirements. If you
            have general questions about the personal information we collect and how we
            use it, please contact us as indicated below.
        </p>
        <p>
            In the course of providing the Services, we may transfer information across
            borders to affiliates or other third parties and from your
            country/jurisdiction to other countries/jurisdictions worldwide. By using
            the Services, you consent to the transfer of your data outside the EEA.
        </p>
        <p>
            If you are located in the EEA, your personal data will only be transferred
            outside the EEA if we are satisfied that there is an adequate or comparable
            level of protection of personal data. We will take appropriate steps to
            ensure that we have appropriate contractual arrangements in place with our
            third parties to ensure that appropriate safeguards are in place so that
            the risk of unlawful use, alteration, deletion, loss or theft of your
            personal data is minimised and that such third parties act at all times in
            accordance with applicable laws.
        </p>
        <h3>
            <strong>California Consumer Protection Rights</strong>
        </h3>
        <p>
            If you are using the Services as a California resident, you may be subject
            to the California Consumer Privacy Act. ("CCPA") to request access to and
            deletion of your data.
        </p>
        <p>
            To exercise your right to access and delete your data, please read below
            how to contact us.
        </p>
        <p>
            We do not sell users' personal information for the CCPA's intentions and
            purposes.
        </p>
        <div>
            <hr width="100%" size="2" />
        </div>
        <h3>
            Updates or Changes to the Privacy Policy
        </h3>
        <p>
            We may, at our sole discretion, revise this Privacy Policy from time to
            time, and the version posted on the Website will always be current (see
            "Status"). We encourage you to periodically review this Privacy Policy for
            changes. In the event of material changes, we will publish a notice on our
            website. Your continued use of the Services after being notified of changes
            on our website will be deemed your acknowledgement and agreement to be
            bound by the Privacy Policy changes and your agreement to be bound by the
            terms of those changes.
        </p>
        <div>
            <hr width="100%" size="2" />
        </div>
        <h3>
            Contact
        </h3>
        <p>
            If you have general questions about the Services or the information we
            collect about you and how we use it, please contact us at:
        </p>
        <p>
            Email address:
            <a href="mailto:noreply.airportactivity@gmail.com">
                noreply.airportactivity@gmail.com
            </a>
        </p>
        <div>
            <hr width="100%" size="2" />
        </div>
        <p>
            The information contained herein is not a substitute for legal advice and
            you should not rely on it alone. Specific requirements regarding legal
            terms and policies may vary from state to state and/or from jurisdiction to
            jurisdiction. As set forth in our Terms of Service, you are responsible for
            ensuring that your Services are permitted under the law applicable to you
            and that you comply with them.
        </p>
        <p>
            In order to ensure that you fully comply with your legal obligations, we
            strongly recommend that you seek professional advice in order to better
            understand which requirements apply to you specifically.
        </p>
        <h2 id="cookies">
            Cookie Policy
        </h2>
        <h5>
            1. What is a cookie?
        </h5>
        <p>
            A cookie is a small file of letters and numbers that is downloaded to your
            computer when you access certain websites. Typically, cookies allow a
            website to recognize a user's computer.
        </p>
        <p>
            The most important thing to know about the cookies placed by Wix is that
            they make our website a bit more user-friendly, for example by storing
            website preferences and language settings.
        </p>
        <h5>
            2. Why do we use cookies?
        </h5>
        <p>
            We may use cookies and similar technologies for various purposes, such as:
            i) for security and fraud protection and to detect and prevent cyber
            attacks; ii) to provide you with the services you have selected; iii) to
            monitor and analyze the performance, operation and effectiveness of our
            Services, and iv) to improve your user experience.
        </p>
        <h5>
            3. Cookie overview:
        </h5>
        <p>
            We use the following cookies on our websites and other online services:
        </p>
        <h6>
            <u>Strictly Necessary Cookies</u>
            <u></u>
        </h6>
        <p>
            These cookies are essential to enable you to browse around our websites and
            use their features. Without these cookies, services like shopping baskets
            and e-billing cannot be provided.
        </p>
        <h5>
            4. Your options:
        </h5>
        <p>
            To learn more about cookies, including how to recognize which cookies have
            been set and how to manage, delete and block them, visit
            www.aboutcookies.org or www.allaboutcookies.org.
        </p>
        <p>
            Alternatively, it is also possible that your browser blocks cookies in
            principle. To do this, you must change the cookie settings in your browser
            accordingly. You can usually find these settings in your browser's menu
            under "Options" or "Preferences".
        </p>
        <p>
            Please note that deleting our cookies or disabling future cookies or
            tracking technologies may result in certain areas or features of our
            Services no longer being available to you or otherwise affecting your user
            experience.
        </p>
        <p>
            The following links may be useful, or you can access the "Help" option in
            your browser.
        </p>
        <ul type="disc">
            <li>
                <a href="https://support.mozilla.org/de/article/Cookies-blockieren">
                    Cookie settings in Firefox
                </a>
            </li>
            <li>
                <a href="https://support.microsoft.com/de-de/topic/l%C3%B6schen-und-verwalten-von-cookies-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank">
                    Cookie settings in Internet Explorer
                </a>
            </li>
            <li>
                <a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&amp;hl=de" target="_blank">
                    Cookie settings in Google Chrome
                </a>
            </li>
            <li>
                <a href="https://support.apple.com/de-de/guide/safari/sfri11471/mac" target="_blank">
                    Cookie settings in Safari (OS X)
                </a>
            </li>
            <li>
                <a href="https://support.apple.com/de-de/HT201265" target="_blank">
                    Cookie settings in Safari (iOS)
                </a>
            </li>
            <li>
                <a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DAndroid&amp;hl=de" target="_blank">
                    Cookie settings in Android
                </a>
            </li>
        </ul>
        <p>
            To opt out and prevent Google Analytics from using your data on all
            websites, see the instructions below:
            https://tools.google.com/dlpage/gaoptout.
        </p>
        <p>
            We may update this Cookie Policy. We invite you to visit this page
            regularly to keep up to date with the use of cookies.
        </p>

    </div>
</section>
{% endblock %}