{% extends "public/templates/formlayout.html" %}
{% block content %}
  <div class="content-section login"> 
    <img src="{{url_for('static', filename='img/logo.png') }}" alt="logo">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom h3 mb-3 fw-normal text-center">Register your account</legend>
          <div class="form-group">
            {{ form.firstName.label(class="form-control-label") }}
            {% if form.firstName.errors %}
                {{ form.firstName(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.firstName.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.firstName(class="form-control form-control-lg") }}
            {% endif %}
            </div>
            <div class="form-group">
                {{ form.lastName.label(class="form-control-label") }}
                {% if form.lastName.errors %}
                    {{ form.lastName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lastName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.lastName(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {% if form.policy_accept.errors %}
                    {{ form.policy_accept(class="form-check-input is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.policy_accept.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.policy_accept(class="form-check-input") }}
                {% endif %}
                <label class="form-check-label" for="policy_accept">I accept the <a href="{{ url_for('main.privacy') }}">Privacy Policy</a></label>
            </div>
        </fieldset>
      <div class="form-group mt-2">
          {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
      </div>
    </form>  
  </div>
  <div class="border-top pt-3">
    <small class="text-muted text-light">
        Already have an account? <a class="ml-2 text-light" href="{{ url_for('users.login') }}">Login</a>
    </small>
</div>
{% endblock content %}